<{{#as_header}}li{{/as_header}}{{^as_header}}div{{/as_header}} class="category {{{classes}}}" id="{{{id}}}" role="{{{role}}}" aria-labelledby="{{{labelledby}}}" data-sectionid="{{{sectionid}}}" data-sectionreturnid="{{{sectionreturnid}}}" data-categoryid="{{{categoryid}}}" data-depth="{{{depth}}}" data-showcourses="{{{showcourses}}}" data-type="{{{type}}}" data-courseid="{{{courseid}}}">
    <div class="info">
        <a href="{{{url}}}">
            <div class="categoryname aabtn {{#hide_title}}accesshide{{/hide_title}}">
                    {{{title}}}
                <svg id="Arrows-Diagrams_Arrows_arrow-button-right-3" data-name="Arrows-Diagrams / Arrows / arrow-button-right-3" xmlns="http://www.w3.org/2000/svg" width="20.677" height="25" viewBox="0 0 20.677 25">
  <g id="Group_19" data-name="Group 19" transform="translate(0)">
    <g id="Light_19" data-name="Light 19">
      <path id="Shape_22" data-name="Shape 22" d="M539.033,156.5h7.78a.546.546,0,0,1,.385.162L559.011,168.6a.545.545,0,0,1,0,.761l-11.8,11.978a.544.544,0,0,1-.387.162h-7.783a.543.543,0,0,1-.385-.927l11.336-11.4a.272.272,0,0,0,0-.384l-11.341-11.361a.544.544,0,0,1,.385-.928Z" transform="translate(-538.488 -156.5)" fill="#000000"/>
    </g>
  </g>
</svg>

            </div>
        </a>
    </div>
</{{#as_header}}li{{/as_header}}{{^as_header}}div{{/as_header}}>
