<div class="page-footer">
    {{{ output.standard_end_of_body_html }}}
    <footer class="main-footer" >
        <hr class="horisontal-line" >
        <div class="footer-container container flexbox header-block">
            <div class="footer-menu">
                <nav>
                    <ul>
                        <li><a class="intern orca-textlink" href="/ueber-uns">Über uns</a></li>
                        <li><a class="intern orca-textlink" href="/werbematerial">Werbematerial</a></li>
                        <ul class="submenu">
                            <li><a class="intern orca-textlink" href="/kontakt">Kontakt</a></li>
                            <li><a class="intern orca-textlink" href="/datenschutz">Datenschutz</a></li>
                            <li><a class="intern orca-textlink" href="/impressum">Impressum</a></li>
                        </ul>
                                                <li><a class="intern orca-textlink " onclick="orcaShowCookieBanner(1)">Einwilligungen (Cookies) ändern</a></li>
                                                <li class="twi"><a class="extern orca-textlink social-button" target="_blank" href="https://twitter.com/orcanrw" title="Empfehlen Sie uns weiter">Twitter <b class="fa fa-twitter"></b></a></li>
                    </ul>
                </nav>
            </div>
            <div id="footer-images" class="images-container flexbox img-container">
                <div class="footer-img">
                    <a>
                        <img class="auto" alt="Logo der DH NRW" title="Digitale Hochschule NRW" src="/assets/images/logos/Kooperationsvorhaben_DH_NRW.png">
                    </a>
                </div>
                <div class="footer-img">
                    <a>
                        <p class="foerderung">Gefördert durch:</p>
                        <p></p>
                        <img class="auto svg" alt="Logo des Ministeriums für Kultur und Wissenschaft des Landes Nordrhein-Westfalen" title="Ministerium für Kultur und Wissenschaft des Landes Nordrhein-Westfalen" src="/assets/images/logos/nrw_miwf_logo.svg">
                    </a>
                </div>
            </div>
        </div>
        <a href="#content" class="jumpup" title="zum Anfang der Seite" style="display: inline;">
            <span class="fa fa-angle-up fa-2x"><i class="sr-only">zum Anfang der Seite</i></span>
        </a>
    </footer>
            <script>
            require(["/assets/js/orcalib_moodle.js"], function(OrcaLib) {
                OrcaLib.init();
            });
        </script>
    </div>
