{{{output.doctype}}}
<html {{{output.htmlattributes}}}>
<head>
    <title>{{{output.page_title}}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />{{{ output.standard_head_html }}}<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css?v0.17.0-9-ge02e051">
    <link rel="stylesheet" href="/assets/css/moodle_original_css.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
